@page "/"

@inject IPinHandler _pinAuthenticationStateProvider
@inject IControllerService _controller
@inject IRemoteControllerService _remoteController

<h1>Hello!</h1>

<div class="form-group">
    <label for="pin">PIN</label>
    <input type="password" class="form-control" id="pin" placeholder="PIN" @bind-value="_pinAuthenticationStateProvider.PIN">
</div>
<AuthorizeView>
    <div class="card-group">
        @if (_controller.IsPlatformSupported)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">LOCAL</h5>
                    <p class="card-text">Lorem ipsum.</p>

                    @foreach (var command in Enum.GetValues(typeof(Command)).Cast<Command>())
                    {
                        <button type="button" class="btn btn-info" @onclick="async () => await _controller.InvokeCommandAsync(command, System.Threading.CancellationToken.None)">@command</button>
                    }
                </div>
            </div>
        }

        @foreach (var remoteServer in _remoteController.RemoteServers)
        {<div class="card">
                <div class="card-body">
                    <h5 class="card-title">@remoteServer.Uri</h5>
                    <p class="card-text">Lorem ipsum.</p>

                    <button type="button" class="btn btn-info" @onclick="async()=> await   _remoteController.WakeUpAsync(remoteServer,System.Threading.CancellationToken.None)">WakeUp</button>
                    @foreach (var command in Enum.GetValues(typeof(Command)).Cast<Command>())
                    {
                        <button type="button" class="btn btn-info" @onclick="async()=> await   _remoteController.InvokeCommandAsync(command,remoteServer,System.Threading.CancellationToken.None)">@command</button>
                    }
                </div>
            </div>

        }
    </div>
</AuthorizeView>

@functions {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _pinAuthenticationStateProvider.InitializeJSAsync();
        StateHasChanged();
    }

}