@page "/"

@inject IPinHandler _pinAuthenticationStateProvider
@inject IControllerService _controller

<h1>Hello!</h1>

<div class="form-group">
    <label for="pin">PIN</label>
    <input type="password" class="form-control" id="pin" placeholder="PIN" @bind-value="_pinAuthenticationStateProvider.PIN">
</div>
<AuthorizeView>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lock</h5>
                <p class="card-text">Lorem ipsum.</p>
                <button type="button" class="btn btn-warning" @onclick="_controller.Lock">Lock</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sleep</h5>
                <p class="card-text">Lorem ipsum.</p>
                <button type="button" class="btn btn-danger" @onclick="_controller.Sleep">Sleep</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Shutdown</h5>
                <p class="card-text">Lorem ipsum.</p>
                <button type="button" class="btn btn-danger" @onclick="_controller.Shutdown">Shutdown</button>
            </div>
        </div>
    </div>
</AuthorizeView>